@font-face {
    font-family: 'Interfont';
    src: url(./fonts/static/Inter-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Interfont', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    border: 1px solid;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

main section img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    max-inline-size: 60%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

main section.user-details p {
    text-align: center;
}

h2 {
    font-size: clamp(25px, 2.6vw, 30px);
    margin-bottom: 8px;
}

p {
    font-size: clamp(16px, 1.5vw, 20px);
}

section.socials-links {
    margin-top: 20px;
}

section.socials-links p.bio {
    margin-bottom: 15px;
}

section.socials-links ul li {
    border: 1px solid;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 10px;
}