@font-face {
    font-family: 'Interfont';
    src: url(./fonts/static/Inter-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Interfont', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    border: 1px solid;
    width: fit-content;
    height: fit-content;
}

main section img {
    max-inline-size: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

h2 {
    font-size: clamp(25px, 2.6vw, 30px);
}

p {
    font-size: clamp(16px, 1.5vw, 20px);
}